<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add providerName="System.Data.SqlClint" connectionString="  PASTE THE CONNECTION STRING OF DATABASE HERE AND THEN START THE PROJECT ===> DATABASE IS PRESENT IN THE PROJECT FOLDER StudentDatabase.mdf FILE     "
         name="dbcs"></add>
  </connectionStrings>
</configuration>